@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background: #000
}



@layer base {

  .text-edge-outline {
    -webkit-text-stroke: 1px rgba(255, 255, 255, 0.3);
  }
}

@view-transition {
  navigation: auto;
}