@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background: #000;
}

@view-transition {
  navigation: auto;
}

.transition-heading {
  view-transition-name: heading;
}

::view-transition-old(heading) {
  @apply animate-fade-out
}

::view-transition-new(heading) {
  @apply animate-fade-in
}
